
<h2 class="page-header">Search books</h2>
<form action="/books" method="GET">
    <div>
        <label>Title</label>
         <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
     <div>
        <label>Published Before</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    <button type="submit">Search</button>
    
</form>
<div>
    <% for(var x = 0; x <books.length; x++){ %>
        <a href="books/<%= books[x].id %>">
            <img height="150" width="100" src="<%= books[x].coverImagePath %>">
        </a>
        
    <% } %>
</div>
